<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= t('title_upload_form') %></title>
    <link rel="stylesheet" id="tve_style_family_tve_flt-css" href="/assets/css/thrive_flat.css" type="text/css" media="all">
    <link rel="stylesheet" id="thrive-css" href="/assets/css/thrive.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/tve_style_cust.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="icon" href="/assets/images/rs-krone-black.png" sizes="32x32">
    <link rel="icon" href="/assets/images/rs-krone-black.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/rs-krone-black.png">
    <meta name="msapplication-TileImage" content="/assets/images/rs-krone-black.png">

    <script src="/assets/js/jquery.js"></script> 
    <script src="/assets/js/jquery.nice-select.min.js"></script>

    <script>
      $(document).ready(function() {
        $('select').niceSelect();
      });
    </script>
  </head>

  <body class="page-template-default page page-id-337 tve-theme-388 thrive-layout-20 tve-desktop-browser tve-chrome-browser">
     <div id="wrapper" class="tcb-style-wrap">
        <div id="content">
           <div class="main-container thrv_wrapper">
              <div id="theme-content-section" class="theme-section content-section">

                 <div class="section-content">
                    <h1 class="" style="text-align: left; margin-top: 3rem"><span class="thrive-shortcode-content" data-attr-link="0" data-attr-rel="0" data-attr-target="0" data-extra_key="" data-option-inline="1" data-shortcode="tcb_post_title" data-shortcode-name="Post title" style="" data-css="tve-u-175ae1f8619"><%= t('upload_form_h1') %></span></h1>

                    <% if (sandbox) { %>
                        <div class="alert alert-warning">
                            <%- t('sandbox_warning') %>
                        </div>
                    <% } %>

                    <section class="tcb-post-content tcb-shortcode thrv_wrapper" data-css="tve-u-1711c8af402">
                       <div id="tve_flt" class="tve_flt tcb-style-wrap">
                          <div id="tve_editor" class="tve_shortcode_editor tar-main-content" data-post-id="337">

                             <form method="post" action="<%= ocrPostPath %>" enctype="multipart/form-data">
                               <div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box tve-elem-default-pad" style="" data-css="tve-u-175e4c37a00">
                                  <div class="tve-content-box-background" style="" data-css="tve-u-175e4c41826"></div>
                                  <div class="tve-cb" style="" data-css="tve-u-175e4c38c31">
                                     <div class="thrv_wrapper thrv_text_element" data-css="tve-u-175e4c667ad" style="">
                                        <label for="file-upload" style="text-align: center; cursor: pointer" data-css="tve-u-175e4c63ad6">
                                          
                                          <%- t('choose_file') %>

                                          <div class="thrv_wrapper tve_image_caption" data-css="tve-u-175e4c53548" style=""><span class="tve_image_frame"><img class="tve_image wp-image-347" alt="" data-id="347" width="232" data-init-width="1920" height="131" data-init-height="1080" title="upload" src="/assets/images/upload.jpg" data-width="232" data-height="131" data-css="tve-u-175e4c53561" loading="lazy"></span></div>
                                        </label>
                                     </div>
                                     
                                     <div class="thrv_wrapper thrv-button thrv-button-v2 tcb-local-vars-root" data-css="tve-u-17623fcccd7">
                                        <div class="thrive-colors-palette-config"></div>
                                        <input type="file" name="file" class="tcb-button-link tcb-plain-text" value="Datei vom Gerät wählen" id="file-upload" />
                                     </div>
                                     
                                     <div class="thrv_wrapper thrv-button thrv-button-v2 tcb-local-vars-root">
                                        <input type="checkbox" name="returnPdf" id="return-pdf" value="1" />
                                        <label for="return-pdf"><%= t('return_pdf') %></label>
                                     </div>
                                     
                                     <div class="thrv_wrapper" style="align-items: center; display: flex; height: 42px; margin: 5px auto 25px auto">
                                        <span style="margin-right: 15px"><%- t('language') %>:</span>

                                        <select name="language" id="language">
                                          <% languages.forEach(function(language){ %>
                                            <option value="<%= language[0] %>" <%= i18n.language == language[0] ? 'selected="selected"' : '' %>><%= t('languages.'+ language[0]) %></option>
                                          <% }); %>
                                        </select>
                                     </div>

                                     <input type="submit" value="Verarbeitung starten" />
                                  </div>
                               </div>
                            </form>

                            <% if (sandbox) { %>
                               <div class="thrv_wrapper thrv_text_element" data-css="tve-u-175e4b23a03">
                                  <p dir="ltr">Unser Dienst steht hier und jetzt, sofort und kostenlos, zur Verfügung.</p>
                                  <p dir="ltr" id="tve-jump-1762e374281">Einfach PDF Hochladen und den erkannten Text als JSON zurückbekommen.<br>Anwendungen mit geringem Dokumentenaufkommen können diesen Dienst auch mit bis zu 50 Aufrufen pro Tag (pro IP) nutzen.</p>
                               </div>

                               <div class="thrv_wrapper thrv_text_element" data-css="tve-u-175faef9a6a" style="">
                                  <p dir="ltr" style="" data-css="tve-u-175e6854b94"><span style="text-decoration: underline;">Berücksichtigen Sie bitte</span>, dass wir keinerlei Gewährleistung oder Stabilitätszusagen für diesen kostenfreien Dienst machen. Auch die Geschwindigkeit der Texterkennung ist in der schmal Dimensionierten Sandbox nicht besonders hoch. Diese Gratisfunktionalität ist für Testzwecke oder Anwendungen mit wenigen Dokumenten ausgelegt, deren Textermittlung nicht akut zeitkritisch ist.</p>
                               </div>
                               <div class="thrv_wrapper thrv_text_element">
                                  <h3 class="" data-css="tve-u-175e6298fc6" style="">Ihre Möglichkeiten mit dem RESTful Interface</h3>
                               </div>
                               <div class="thrv_wrapper thrv_text_element">
                                  <p>Eine aktuelle Schnittstellenbeschreibung finden Sie als Swagger unter ...</p>
                                  <p style="" data-css="tve-u-1762e358a28">Die folgenden Funktionalitäten sind in der Sandbox möglich:</p>
                               </div>
                               <div class="thrv_wrapper thrv-styled_list" data-icon-code="icon-check" data-css="tve-u-175faf21a5a" style="">
                                  <ul class="tcb-styled-list">
                                     <li class="thrv-styled-list-item" data-css="tve-u-175e62434e6">
                                        <div class="tcb-styled-list-icon">
                                           <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-local-vars-root tcb-icon-display" data-css="tve-u-175e62434e7" style="">
                                              <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                                 <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                              </svg>
                                           </div>
                                        </div>
                                        <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62434e9">Ermittelt Text (via OCR) auf Seitenbasis in einem JSON zurück</span>
                                     </li>
                                     <li class="thrv-styled-list-item" data-css="tve-u-175e62434eb">
                                        <div class="tcb-styled-list-icon">
                                           <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-icon-display tcb-local-vars-root" data-css="tve-u-175e62434ec" style="">
                                              <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                                 <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                              </svg>
                                           </div>
                                        </div>
                                        <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62434ed">PDF mit Text PDF/A Erstellung und Rückgabe als Base64 kodierter String innerhalb des zurückgegebenen JSON Ergebnis</span>
                                     </li>
                                  </ul>
                               </div>
                             <% } %>

                             <div class="thrv_wrapper thrv_text_element" data-css="tve-u-175faefab69" style="">
                                <h4 class="" style="" data-css="tve-u-175e6297851">Die besten Ergebnisse erhalten Sie mit einer guten Vorbereitung</h4>
                             </div>
                             <div class="thrv_wrapper thrv_text_element">
                                <p>Denn die Texterkennung arbeitet am Besten, wenn das Dokument gut lesbar, also vorbereitet, ist.</p>
                                <p style="" data-css="tve-u-1762e35c7c1">Natürlich wird die Vorbereitung voll-automatisch von unserem Dienst durchgeführt. Mit den folgenden Routinen:</p>
                             </div>
                             <div class="thrv_wrapper thrv-styled_list" data-icon-code="icon-check" data-css="tve-u-1762e35d557" style="">
                                <ul class="tcb-styled-list">
                                   <li class="thrv-styled-list-item" data-css="tve-u-175e62828de">
                                      <div class="tcb-styled-list-icon">
                                         <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-local-vars-root tcb-icon-display" data-css="tve-u-175e62828e0" style="">
                                            <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                               <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                            </svg>
                                         </div>
                                      </div>
                                      <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62828e2">Automatische Begradigung des Dokuments, falls die Datei aus einem schrägen Winkel aufgenommen wurde</span>
                                   </li>
                                   <li class="thrv-styled-list-item" data-css="tve-u-175e62828e3">
                                      <div class="tcb-styled-list-icon">
                                         <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-icon-display tcb-local-vars-root" data-css="tve-u-175e62828e4" style="">
                                            <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                               <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                            </svg>
                                         </div>
                                      </div>
                                      <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62828e6">Bilder/Dokumente ohne Text werden weitestgehend automatisch ignoriert</span>
                                   </li>
                                   <li class="thrv-styled-list-item" data-css="tve-u-175e62828e7">
                                      <div class="tcb-styled-list-icon">
                                         <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-icon-display tcb-local-vars-root" data-css="tve-u-175e62828e9" style="">
                                            <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                               <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                            </svg>
                                         </div>
                                      </div>
                                      <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62828ea">Entfernung von Stör-Artefakten die beispielsweise durchs Scannen verursacht wurden</span>
                                   </li>
                                   <li class="thrv-styled-list-item" data-css="tve-u-175e62828ec">
                                      <div class="tcb-styled-list-icon">
                                         <div class="thrv_wrapper thrv_icon tve_no_drag tcb-no-delete tcb-no-clone tcb-no-save tcb-icon-inherit-style tcb-local-vars-root tcb-icon-display" data-css="tve-u-175e62828ed" style="">
                                            <svg class="tcb-icon" viewBox="0 0 192 512" data-id="icon-caret-right-solid" data-name="" style="">
                                               <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                                            </svg>
                                         </div>
                                      </div>
                                      <span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="tve-u-175e62828ee">Automatische Rotation des Dokuments, wenn durch die KI erkannt wird, dass das Dokument falsch herum liegt (experimentell)</span>
                                   </li>
                                </ul>
                             </div>
                             <div class="thrv_wrapper thrv_text_element">
                                <p><span style="text-decoration: underline;">Info:</span> Sowohl die hochgeladenen Dokumente, als auch die verarbeiteten Ergebnisse, werden unmittelbar nach erfolgreicher Beendigung der Anfrage <span style="text-decoration: underline;">restlos</span> gelöscht.</p>
                             </div>
                          </div>
                       </div>
                       <div class="tcb_flag" style="display: none"></div>
                    </section>
                 </div>
              </div>
           </div>
           <div class="main-content-background"></div>
        </div>
     </div>
  </body>
</html>
